body {
	margin: 100px;
}
.submit {
	padding: 70px;
	margin: 50px;
	box-shadow: 5px 5px 10px gray;
	border-radius: 10px;
}
#transaction-area {
	display: none;
}
.deposit {
	background-color: slateblue;
}
.withdraw {
	background-color: lightsalmon;
}
.balance {
	background-color: orange;
}
.status {
	padding: 20px;
	margin: 20px;
	color: white;
	border-radius: 10px;
}
